#home .homebannerCont {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.carousel-item {
    object-fit: contain;
}
#home .Homebanner img {
    height: 100%;
    width: 100%;
}
#home .Homebanner .carousel-indicators{
    display: none;
}
#home .Homebanner .carousel-inner{
    display: flex;
    align-items: end;
}
#home .Homebanner .bannerMarquee {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 99;
    color: #FFFFFF;
    height: 60px;
   display: flex;
   font-family: ReggaeoneRegular;
}

/* Event */
.homeEvent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    max-height: auto;
    background-color: #000748;
    padding: 30px 0px;
}
.homeEventTitle{
    background-image: url('../Assets/Image/Home/EventTitle.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: BerkshireRegular;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}   
.findEvent .homeEventTitle{
    background-image: url('../Assets/Image/Home/FindYourEventTitle.svg');
}
.eventSponsor .homeEventTitle{
    background-image: url('../Assets/Image/Home/EventSponsor.svg');
}
.CardEventTemplateRow{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 30px 0px !important;
    gap: 15px;
}
.CardEventTemplate{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 310px !important;
    border-radius: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.CardEventTemplateBanner{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 310px !important;
}
.CardEventTemplateBanner img{
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
}
.CardEventTemplate h4{
    font-family:ReggaeoneRegular;
    padding: 5px 0px;
}
.CardEventTemplate h5{
    font-family:KanitRegular ;
    font-size: 15px;
}
.cardEventTemplateText{
    margin:4px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px !important;
}

.cardEventTemplateBtnText{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.cardEventTemplateBtnText button{
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #FF8800;
    color: #FFFFFF;
    width: 130px;
    border-radius: 50px;
    font-family: KanitRegular;
    font-weight: bold;
    letter-spacing: 2px;
}
.cardEventTemplateBtnText div:nth-child(2){
 display: flex;
 align-items: center;
 justify-content: center;
 text-decoration: underline;
 font-family: KanitRegular;
 font-weight: 600;
 letter-spacing: 1px;
}
/* Event */


.eventsScrollX .CardEventTemplateRow{
    flex-wrap: nowrap !important;
    overflow-x: scroll;
}
.eventsScrollX .CardEventTemplateRow::-webkit-scrollbar {
    width: 5px !important;
    height: 10px !important;
    cursor: pointer;
}
.eventsScrollX .CardEventTemplateRow::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: hsla(0, 0%, 41.2%, .3137254901960784);
    cursor: pointer;
}
.eventBannerBg .homeEvent{
    background-image: url("../Assets/Image/Home/EventSponsorBg.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
}
.btnDefault{
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #FF8800;
    color: #FFFFFF;
    border-radius: 50px;
    font-family: BerkshireRegular;
    letter-spacing: 2px;
    font-size: 23px;
    letter-spacing: 0px;
}
.eventSponsorLabelContainer{
  display: grid;
  grid-template-columns: 1fr 100px;
    width: 100%;
    /* padding: 0 12px; */
}
.eventSponsorLabelContainer img{
width: 100px;
height: 100px;
/* margin-top: -40px; */
}
.eventSponsorLabelContainer .SponsorLable{
    
    background-image: url("../Assets/Image/Home/SponsorLableBg.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* margin-left: -12px; */
}
.eventSponsorLabelContainer .SponsorLable p{
    color: #FFFFFF;
    font-size: 16px;
}