
@font-face {
    font-family: BerkshireRegular;
    src: url('./Assets/Fonts/BerkshireSwash-Regular.ttf')
}

@font-face {
    font-family: ReggaeoneRegular;
    src: url('./Assets/Fonts/ReggaeOne-Regular.ttf')
}

@font-face {
    font-family: KanitRegular;
    src: url('./Assets/Fonts/Kanit-Regular.ttf')
}

.BerkshireRegular {
    font-family: BerkshireRegular;
}

.ReggaeoneRegular {
    font-family: ReggaeoneRegular;
}

.KanitRegular {
    font-family: KanitRegular;
}

:root{
    --white: #FFFFFF;
}

.text-white{
    color: var(--white);
}
.container-fluid{
    margin-left: 0px !important;
margin-right: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
}